// font variable
$primary-font1: 'Poppins', sans-serif;
$primary-font2: 'Roboto', sans-serif;

// color variable
$black1: #000000;
$black2:#343a40;
$black3:#212529;
$black4:#203656;
$white1:#ffffff;
$red:#fe4f70;
$white2:#f8f9fa;
$gray7:#A6AAAF;
$gray6:#EBEBEB;
$gray5:#F7F7F7;
$gray4:#c0c0c0;
$gray3:#909090;
$gray2:#8f9bad;
$gray1:#79889e;
$lightblue:#F1F8FF;

// lenear gradiant
$common-gradiant:linear-gradient(90deg, rgba(254, 79, 112, 1) 0%, rgba(255, 163, 135, 1) 72%);
$common-gradiant2:linear-gradient(to right,#fe4f70 0%,#ffa387 100%);
$common-gradinat3:linear-gradient(to top,#ffa387 0%,#fe4f70 51%,#ffa387 100%);


